#application-nav {
     height: 540px;
}

.container {
     background-color: #F8F8F8;
     height: 540px;
     border: 1px solid #dbdbdb;
}

#appmenu {
     height: 10%;
     border-bottom: 1px solid #dbdbdb;
     background-color: #2C2C2C;
     color: white;
}

#movie-list {
     margin-top: 10px;
     height: 65%;
}

#queue {
     height: 25%;
     border-top: 1px solid #dbdbdb;
     background-color: #2C2C2C;
     color: white;
     text-align: center;
}

.col-md-12 {
     height: 110px;
     border: 1px solid #dbdbdb;
     margin-bottom: 5px;
}

#appmenu #left-nav {
     height: 100%;
     border-right: 1px solid #dbdbdb;
}

#appmenu #center-nav {
     height: 100%;
}

#appmenu #right-nav {
     height: 100%;
     border-left: 1px solid #dbdbdb;
}

#queue #left-nav {
     height: 100%;
     border-right: 1px solid #dbdbdb;
}

#queue #center-nav {
     height: 100%;
}

#queue #right-nav {
     height: 100%;
     border-left: 1px solid #dbdbdb;
}